<!-- ***** Footer Start ***** -->
   <footer id="contact-us">
       <div class="container">
           <div class="footer-content">
               <div class="row">
                   <!-- ***** Contact Form Start ***** -->
                   <div class="col-lg-6 col-md-12 col-sm-12">
                       <div class="contact-form">
                           <img   src="assets/images/logo2.png" class="card-img-top" alt="logotipo">
                       </div>
                   </div>
                   <!-- ***** Contact Form End ***** -->
                   <div class="right-content col-lg-6 col-md-12 col-sm-12">
                       <h2>Mundi <em>Persianas</em></h2>
                       <p>La Solución mas rapida y eficiente , como dijo <strong>Walt Disney.</strong>
                        Hagas lo que hagas, hazlo tan bien para que vuelvan y además traigan a sus amigos
                       </p>
                       <p>
                         Comprometidos con usted :)
                        </p>
                       <ul class="social">
                           <li><a href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                           <li *ngIf="facebook!=''" ><a target='_blank' href="{{facebook}}"><i class="fa fa-twitter"></i></a></li>
                           <li *ngIf="linkedin!=''" ><a target='_blank' href="{{linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                           <li *ngIf="instagram!=''" ><a target='_blank' href="{{instagram}}"><i class="fa fa-instagram"></i></a></li>
                           <li *ngIf="whatsapp" ><a target='_blank' href="{{whatsapp}}"><i class="fa fa-whatsapp"></i></a></li>
                           <li *ngIf="messenger" ><a target='_blank' href="{{messenger}}"><i class="fa fa-comments"></i></a></li>
                           <li *ngIf="correo" ><a target='_blank' href="{{correo}}"><i class="fa fa-envelope"></i></a></li>
                       </ul>
                   </div>
               </div>
           </div>
           <div class="row">
               <div class="col-lg-12">
                   <div class="sub-footer">
                       <p>Copyright &copy; 2021 MundiPersianas
                       | Programador por <a rel="nofollow" href="https://baulprogram.com.mx/">BaulProgram</a></p>
                   </div>
               </div>
           </div>
       </div>
   </footer>
