<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        MundiPersianas
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#welcome" class="menu-item">Inicio</a></li>
                        <li class="scroll-to-section"><a href="#about" class="menu-item">Nosotros</a></li>
                        <li class="scroll-to-section"><a href="#galeria" class="menu-item">Galeria</a></li>
                        <li class="scroll-to-section"><a href="#testimonials" class="menu-item">Testimonios</a></li>
                        <li class="scroll-to-section"><a href="#services" class="menu-item">Servicios y Productos</a></li>
                        <!--
                        <li class="submenu">
                            <a href="javascript:;">Drop Down</a>
                            <ul>
                                <li><a href="" class="menu-item">About Us</a></li>
                                <li><a href="" class="menu-item">Features</a></li>
                                <li><a href="" class="menu-item">FAQ's</a></li>
                                <li><a href="" class="menu-item">Blog</a></li>
                            </ul>
                        </li>-->
                        <li class="scroll-to-section"><a href="#contact-us" class="menu-item">Contactanos</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
