<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<app-nav></app-nav>




<!-- ***** Welcome Area Start ***** -->
   <div class="welcome-area" id="welcome">

       <!-- ***** Header Text Start ***** -->
       <div class="header-text">
           <div class="container">
               <div class="row">
                   <div class="left-text col-lg-12 col-md-12 col-sm-12 col-xs-12"
                       data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                       <h1>Calidad y Servicio </h1>
                       <a href="{{Whatsapp}}" class="main-button-slider">CONTACTANOS</a>
                   </div>
               </div>
           </div>
       </div>
       <!-- ***** Header Text End ***** -->
   </div>
   <!-- ***** Welcome Area End ***** -->



   <!-- ***** Testimonials Starts ***** -->
   <section class="section" id="about">
       <div class="container">
           <div class="row">
               <div class="col-lg-8 offset-lg-2">
                   <div class="center-heading">
                       <h2><em>Nosotros</em></h2>
                       <p>
                         Fabrica de Persianas y Cortinas , Ofrecemos Una Amplia Variedad De Catalogo  De Calidad.
                       </p>
                       <p>
                         Venta y asesoría de persianas visualizando un trabajo <strong>GARANTIZADO</strong> dejando a miles de clientes satisfechos más de 40 años de experiencia
                       </p>
                       <br /><br />
                       <p>
                          <strong>Aceptamos,Todas las formas de pago, efectivo trasferencias deposito y también se factura</strong>
                        </p>
                        <div class='row text-center d-flex justify-content-center'>
                          <img src='./assets/images/formas_pago.png' />
                        </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <!-- ***** Testimonials Ends ***** -->


   <div class='separador'></div>




   <!-- ***** Galeria ***** -->
   <section class="section" id="galeria">
       <div class="container">
           <div class="center-heading text-center">
               <h2><em>Portafolio de Trabajos</em></h2>
           </div>
           <div class="row">



               <div class="col-lg-4 col-md-4 col-sm-6">
                 <div class="card mt-5" >
                  <a data-toggle="modal" data-target="#portafolio1">
                    <img style='height:340px'  src="assets/images/portafolio/1.jpg" class="card-img-top" alt="persianas">
                  </a>
                     <!-- Modal -->
                     <div class="modal fade" id="portafolio1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                       <div class="modal-dialog modal-lg">
                         <div class="modal-content">
                           <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLabel">Portafolio</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                             </button>
                           </div>
                           <div class="modal-body">
                             <img   src="assets/images/portafolio/1.jpg" class="card-img-top" alt="persianas">
                           </div>
                           <div class="modal-footer">
                             <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                           </div>
                         </div>
                       </div>
                     </div>
                </div>
               </div>


               <div class="col-lg-4 col-md-4 col-sm-6">
                 <div class="card mt-5" >
                  <a data-toggle="modal" data-target="#portafolio2">
                    <img style='height:340px'  src="assets/images/portafolio/2.jpg" class="card-img-top" alt="persianas">
                  </a>
                     <!-- Modal -->
                     <div class="modal fade" id="portafolio2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                       <div class="modal-dialog modal-lg">
                         <div class="modal-content">
                           <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLabel">Portafolio</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                             </button>
                           </div>
                           <div class="modal-body">
                             <img   src="assets/images/portafolio/2.jpg" class="card-img-top" alt="persianas">
                           </div>
                           <div class="modal-footer">
                             <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                           </div>
                         </div>
                       </div>
                     </div>
                </div>
               </div>



               <div class="col-lg-4 col-md-4 col-sm-6">
                 <div class="card mt-5" >
                  <a data-toggle="modal" data-target="#portafolio3">
                    <img style='height:340px'  src="assets/images/portafolio/3.jpg" class="card-img-top" alt="persianas">
                  </a>
                     <!-- Modal -->
                     <div class="modal fade" id="portafolio3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                       <div class="modal-dialog modal-lg">
                         <div class="modal-content">
                           <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLabel">Portafolio</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                             </button>
                           </div>
                           <div class="modal-body">
                             <img   src="assets/images/portafolio/3.jpg" class="card-img-top" alt="persianas">
                           </div>
                           <div class="modal-footer">
                             <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                           </div>
                         </div>
                       </div>
                     </div>
                </div>
               </div>


           </div>
       </div>
   </section>
   <!-- ***** galeria ***** -->


   <div class='separador3'></div>


   <!-- ***** Features Big Item Start ***** -->
   <section class="section mb-5" id="testimonials">
       <div class="container">
         <div class="center-heading text-center">
             <h2><em>Testimonios</em></h2>
         </div>
           <div class="row">
               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                   data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                   <div class="features-item">
                       <div class="features-icon">
                           <h4>Maria Cornejo Sanchez</h4>
                           <p>
                             excelente trabajo que realizaron en mi hogar... me encantó como quedo... sin duda voy a requerir más de sus servicios...
                            100% recomendados
                           </p>
                           <a target='_blank' href="https://www.facebook.com/airam3530/posts/5606583159384395" class="main-button">
                               Ver
                           </a>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                   data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                   <div class="features-item">
                       <div class="features-icon">
                           <h4>Noe Preciado</h4>
                           <p>Muy amables , y en su trabajo muy limpio dejan el área</p>
                           <a target='_blank' href="https://www.facebook.com/airam3530/posts/5606583159384395" class="main-button">
                              Ver
                           </a>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                   data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                   <div class="features-item">
                       <div class="features-icon">
                           <h4>Paty Sierra</h4>
                           <p>
                             Me encanto su trabajo quedo padrísimo aparte un muy buen precio y excelente servicio 💯 revomendado
                           </p>
                           <a target='_blank' href="https://www.facebook.com/paty.sierra.37/posts/1739602922852274" class="main-button">
                              Ver
                           </a>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                   data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                   <div class="features-item">
                       <div class="features-icon">
                           <h4>Neto Guevara</h4>
                           <p>
                             Muy bien el trabajo, recomendado
                           </p>
                           <a target='_blank' href="https://www.facebook.com/neto.guevara.505/posts/2692193704173132" class="main-button">
                              Ver
                           </a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <!-- ***** Features Big Item End ***** -->





   <div class='separador2'></div>


   <!-- ***** SERVICIOS ***** -->
   <section class="section" id="services">
       <div class="container">
           <div class="center-heading text-center">
               <h2><em>Productos y Servicios</em></h2>
           </div>
           <div class="row">
               <div class="left-image col-lg-12 col-md-12 col-sm-12 mobile-bottom-fix-big"
                   data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                   <!--
                   <img src="assets/images/3.png" class="rounded img-fluid d-block mx-auto" alt="App">
                   -->
                  <p>
                    Tela poliéster plastificada efecto y textura así ala vista como de tela son 100% lavables más no es necesario x que con el material americano en ese modelo se les resbala el polvo son PERSIANAS de día y de noche solo se sacuden son como tela tipo teflón sólo se sacuden al.subir y bajar la persiana se les resbala todo el polvo es x eso que ni lavado se necesita son muy prácticas inclusive se recomienda para personas asmáticas y también son funcionales como mosquetero x el tipo de material están en.remate y es lo más nuevo y práctico que hay en todo en el mercado de Guadalajara
                  </p>
               </div>


               <div class="col-lg-4 col-md-4 col-sm-6">
                 <div class="card mt-5" >
                   <img style='height:340px'  src="assets/images/sher.jpg" class="card-img-top" alt="persianas">
                   <h5 class="card-title text-center">Persianas Sher</h5>
                   <div style='height:150px;' class="card-body text-center">
                     <p>
                      Modelo sheer elegance para  áreas dentro del interior  zonas como recamaras salas cuartos cocina escuela estéticas negocio
                     </p>
                   </div>
                 </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                 <div class="card mt-5" >
                   <img style='height:340px'  src="assets/images/blackout.jpg" class="card-img-top" alt="persianas">
                   <h5 class="card-title text-center">Blackout</h5>
                   <div style='height:150px;' class="card-body text-center">
                     <p>
                      Ideales para cubrir 100 % de la luz bloquea el sol resistentes al aire y lluvias tela guerrera para interior y exterior  ideales para dar buena privacidad y exterior
                      </p>
                   </div>
                 </div>
                </div>

                  <div class="col-lg-4 col-md-4 col-sm-6">
                   <div class="card mt-5" >
                     <img style='height:340px'  src="assets/images/pvr.jpeg" class="card-img-top" alt="persianas">
                     <h5 class="card-title text-center">Modelo PVC</h5>
                     <div style='height:150px;' class="card-body text-center">
                       <p>
                          Ideales para oficinas para economizar colores liso
                       </p>
                     </div>
                   </div>

               </div>
           </div>
       </div>
   </section>
   <!-- ***** servicios ***** -->






   <div class='separador'></div>



   <!-- ***** Testimonials Starts ***** -->
   <section class="section" id="testimonials">
       <div class="container">
           <div class="row">
               <div class="col-lg-8 offset-lg-2">
                   <div class="center-heading">
                       <h2>COMUNICATE CON NOSOTROS</h2>
                       <p>
                         Invierte en calidad , tenemos una amplia variedad de telas, colores y diseños.
                         <strong>Somos fabricantes</strong>, Todos nuestros productos y servicios son garantizados.
                         Cotizaciones sin compromiso, comunicate con Nosotros por Whatsapp , Messenger  o Telefono
                       </p>
                       <br />
                       <div class='text-center'>
                         <svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                            <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                            <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                          </svg>
                       </div>
                       <br />
                       <h3 class='text-center'>{{telefono}}</h3>
                   </div>
               </div>

           </div>
       </div>
   </section>
   <!-- ***** Testimonials Ends ***** -->


<app-footer></app-footer>
